doctype html
html(lang="en")
  head
    block title
      title Default template
    link(rel="stylesheet", href="styles/main.css")
    script(src="scripts/app.js")
  body
    block content
      h1 Hello, This is the default template
