doctype html
html(lang="en")
  head
    block title
      title default title
    link(rel="stylesheet" href="lib/bootstrap.min.css")
    script(src='scripts/app.js')
    link(rel="stylesheet" href="lib/bootstrap-theme.min.css")
  body(ng-app="exampleApp")
    block content
      h1 Hello, This is the default template.
