doctype html
html(lang="en" ng-app="exampleApp")
  head
    block title
      title default title
    link(rel="stylesheet", href="styles/main.css")
    script(src='scripts/app.js')
  body
    block content
      h1 Hello, This is the default template
