extends ./layouts/default.jade

block title
  title This is a test
  
block content
  div(ng-controller="MainCtrl")
    h1 Ullo! This is a test of the emergency website system.
    p Had this been an actual emergency ... feel free to panic
    h1 {{message}}
