extends ./layouts/default.jade

block title
  title This is a test
  
block content
  .panel(ng-controller="DayCtrl")
    .page-header
      h1 AngularJS app
    h2 Today is {{day || "(unknown)" | dayName}}
    h2(ng-controller="TomorrowCtrl" highlight="Saturday") Tomorrow is {{day || "(unknown)" | dayName}}
